{{ define "main" }}

<link rel="stylesheet" href="/reveal/dist/reset.css">
<link rel="stylesheet" href="/reveal/dist/reveal.css">
<link rel="stylesheet" href="/reveal/dist/theme/white.css" id="theme">
<link rel="stylesheet" href="/reveal/plugin/highlight/monokai.css" id="highlight-theme">

<style>
.reveal ol,
.reveal dl,
.reveal ul,
.reveal p {
  display: block;
  text-align: left;
  margin: 0 2em 0 2em; }

/*
  Use .dense for slides with a lot of text
*/
.reveal .dense ol,
.reveal .dense dl,
.reveal .dense ul,
.reveal .dense p {
  line-height: 1.1;
  margin: 0 1em 0 1em;
  font-size: 28px;
}

.reveal .dense li {
  padding: .25em;
}

.home-button {
  position: fixed;
  left: 2rem;
  top: 1rem;
}
</style>


<div class="reveal">
  <div class="slides">
    <section data-markdown data-separator="----" data-separator-vertical="---">
      <script type="text/template">{{ .RawContent | safeHTML }}</script>
    </section>
  </div>
</div>

<div class="home-button">
  <a href="/lectures/">Go home</a>
</div>

<script>
if (window.location.search.includes("print-pdf")) {
  const home = document.querySelector(".home-button");
  home.remove();

  if (localStorage.getItem("has_printed") == null) {
    alert("Make sure to print in landscape mode!");
    localStorage.setItem("has_printed", "true");
    // need to set timeout in order to not get firefox alert about successive dialogs
    window.setTimeout(window.print, 3000);
  } else {
    window.print();
  }

}
</script>

<script src="/reveal/dist/reveal.js"></script>
<script src="/reveal/plugin/notes/notes.js"></script>
<script src="/reveal/plugin/markdown/markdown.js"></script>
<script src="/reveal/plugin/highlight/highlight.js"></script>
<script>
  // More info about initialization & config:
  // - https://revealjs.com/initialization/
  // - https://revealjs.com/config/
  Reveal.initialize({
    hash: true,

    // Learn about plugins: https://revealjs.com/plugins/
    plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
  });
</script>

{{ end }}
