<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ if ne .Section "slides"}}
<body>
  {{ partial "registration_banner" }}
  <div class="max-width mx-auto px3 ltr">
  <div class="content index py4">
    {{ partial "header.html" . }}

    <style>
      .main-content {
        font-family: sans-serif;
      }
    </style>
    <div class="main-content">
    {{ block "main" . }}
    {{ end }}
    </div>

    {{ partial "footer.html" . }}
  </div>
  {{ else }}
  </div>
<body>
  {{ block "main" . }}
  {{ end }}
  {{ end }}
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "lib/jquery/jquery.min.js" | relURL }}></script>
<script src={{ "js/main.js" | relURL }}></script>
</html>
