{{ define "main" }}
  <h1>Lectures</h1>
  <table style="width: 70%; text-align: left;">
      <thead>
      <tr>
          <th>Week Of</th>
          <th>Topic</th>
          <th>Assignments Due</th>
      </tr>
      </thead>
      <tbody>
        {{ range sort .Pages.ByDate }}
          <tr>
            <td>{{ dateFormat "1/2" .Date }}</td>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>
            {{ range $asst := .Params.assignments }}
                {{ $path := $asst | printf "/homeworks/%s" | printf "%s" }}
                {{ with $.Site.GetPage $path }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
                <style>
                    .delimiter:last-child {
                        display: none;
                    }
                </style>
                <span class="delimiter">|</span>
            {{ else }}
                N/A
            {{ end }}
            </td>
          </tr>
        {{ end }}
      </tbody>
  </table>

{{ end }}
