{{ define "main" }}
  <h1>Lectures</h1>
  <style>
      .delimiter:last-child {
        display: none;
      }
  </style>
  <table>
      <thead>
      <tr>
          <th>Date</th>
          <th>Topic</th>
          <th>Slides</th>
          <th>Assignments Due</th>
      </tr>
      </thead>
      <tbody>
        {{ range sort .Pages.ByDate }}
          <tr class="{{if gt .Date now}}bg-gray-400{{end}}">
            <td>{{ dateFormat "1/2" .Date }}</td>
            <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
            <td>
              <a href="{{ .Params.slides }}" target="_blank">Slides</a>
            </td>
            <td>
            {{ range $asst := .Params.assignments }}
                {{ $path := $asst | printf "/homeworks/%s" | printf "%s" }}
                {{ with $.Site.GetPage $path }}
                    <!--
                      <a href="{{ .Permalink }}">{{ .Title }}</a>
                    -->
                    {{ .Title }}
                {{ end }}
                <span class="delimiter"> | </span>
            {{ else }}
                N/A
            {{ end }}
            </td>
          </tr>
        {{ end }}
      </tbody>
  </table>

{{ end }}
